
<div class="container form">
    <form [formGroup]="signUpForm" (ngSubmit)="submit(signUpForm.value)">
        
          <br>
          <div class="form-group">
            <label >Password</label>
            <input    [type]="showPassword ? 'text' : 'password'"placeholder="Enter Password" formControlName="password" class="form-control">
               <!-- <button (click)="showPassword = !showPassword"  [class.hide]="showPassword">show</button> -->
          </div>
          <div class="alert alert-danger" [hidden]="signUpForm.controls['password'].valid || (signUpForm.controls['password'].pristine && !submitted)">Password must be reqired min length 6</div>
          <br>
          <div class="form-group">
            <label >Confirm Password</label>
            <input [type]= "showCPassword ? 'text' : 'password'" placeholder="Enter Confirm password...." formControlName="confirmPassword" class="form-control">
          
            <!-- <button (click)="showCPassword = !showPassword"  [class.hide]="showPassword">show</button> -->
          </div>
          <div *ngIf="signUpForm.get('confirmPassword').errors?.confirmPasswordValidator" class="alert alert-danger">    
            Confirm Password didn't match. </div>
       
          <br>
      <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Submit</button>
      </form>
</div>

